
.btn {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  white-space: pre-wrap;
  height: 52px;
  border-radius: 6px;
  font-size: 1.8rem;
  border: currentColor 1px solid;
  padding: 0 2rem;
  box-sizing: border-box;
  cursor: pointer;
  font-family: Rubik, "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  line-height: 28px;
  position: relative;

  p {
    font-size: 1.5rem;
    position: relative;
    font-family: Neue Machina, sans-serif;
  }

  @media (max-width: 600px) {
    min-height: auto;
    font-size: 12px !important;
  }

  &.black {
    color: white;
    min-width: 187px;
    background: $black;
  }

  &.white {
    min-width: 187px;
    color: #0022A7;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
  }

  &.gradient {
    color: white;
    background: linear-gradient(97.53deg, #360f8c -22.91%, #15d378 138.45%);
    border: 1px solid $black;
  }

  &.secondary {
    background-color: $color-blue;
  }

  &.primary {
    color: #FFFFFF;
    background: #0022A7;

    p {
      @media (max-width: 600px) {
        font-size: 12px !important;
      }
    }
  }

  &.green {
    background-color: $green;
    color: #FFFFFF;
  }

  &.outline {
    border: 1px solid $color-blue;
    box-sizing: border-box;
    border-radius: 12px;
    background-color: $white !important;
    color: $color-gray;
  }
}

button[disabled=disabled], button:disabled {
  background: $color-blue !important;
  opacity: 0.8;
  pointer-events: none;
  cursor: not-allowed;

  p {
    color: #D0DBF3 !important;
  }
}

.back-primary {
  position: absolute;
  z-index: -1;
  bottom: -10px;
  width: 80%;
  height: 36px;
  background: #C4D2FF;
  border-radius: 6px;
}
