.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1040;
  background-color: rgba(247, 247, 253, 0.9)
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
  display: flex;
  align-items: center;
}

.modal {
  background: $white;
  box-shadow: 0 4px 24px rgba(55, 29, 199, 0.1);
  border-radius: 12px;
  z-index: 1000;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(49%, -50%);
  margin: 0 auto;
  max-width: 1040px;
  width: 100%;
  height: auto;
  padding: 20px;

  &--modal-body {
    &__header {
      display: flex;
      width: 100%;
      align-items: center;
      flex-direction: row;
      justify-content: space-between;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      color: #9198BB;
      height: 25px;

      > div {
        min-width: 125px;
        flex-direction: row;
      }
    }
  }
}


.modal-close-button {
  font-size: 1.4rem;
  font-weight: 700;
  color: #000;
  cursor: pointer;
  border: none;
  background: transparent;
}

.starting-modal {
  display: flex;
  flex-direction: row;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #F4F7FD;
  @media(max-width: 600px) {
    flex-direction: column;
  }

  &__info {
    padding: 25px;
    background: url("../../assets/svg/home/startModal/modal-back.png") #F4F7FD no-repeat;
    background-size: cover;
    overflow-y: scroll;
    @media(max-width: 600px) {
      overflow-y: inherit;
    }

    .logo {
      padding-bottom: 34px;
    }

    .primary {
      font-family: Rubik, serif;
      font-style: normal;
      font-weight: bold;
      font-size: 2.4375rem;
      line-height: 143%;
      color: #F4F7FD;
      padding-bottom: 14px;
      @media(max-width: 600px) {
        font-size: 18px;
        line-height: 143%;
      }
    }

    .secondary {
      font-family: Open Sans, serif;
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 140.5%;
      color: #FFFFFF;
      @media(max-width: 600px) {
        font-size: 16px;
        line-height: 140.5%;
      }
    }
  }

  &__selects {
    background-color: #F4F7FD;
    display: flex;
    flex-basis: 420%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 48px;
    padding: 15px;
    @media(max-width: 600px) {
      margin-top: 30px;
    }
    .item-border {

      height: 107px;
      width: 80%;
      border: 1px solid #005BBC;
      box-sizing: border-box;
      border-radius: 18px;

      min-width: 308px;
      position: relative;
      @media(max-width: 600px) {
       transform: scale(0.7);
        margin-top: -60px;
      }

      .item {
        cursor: pointer;
        transition: all .4s;

        &:hover {
          transform: translateY(-20px);
        }

        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        left: 10px;
        right: -10px;
        top: 10px;
        bottom: -10px;
        background: #F4F7FD;
        box-shadow: -4px 8px 11px rgba(0, 0, 0, 0.43), inset 0px 5px 5px #FFFFFF;
        border-radius: 18px;
      }
    }

  }
}

