.defi-page {

  .container {
    margin: 0 auto;
    display: flex;
    max-width: 1200px;
    width: 100%;
  }

  .top-section {
    display: flex;
    flex-direction: row;
    z-index: 3;
    filter: drop-shadow(0px 1px 31px rgba(0, 0, 0, 0.58));
    .render-responsive-blocks {
      background: url("../../assets/images/header-back.png") transparent no-repeat;
      @media(max-width: 600px) {
        background: none;
      }

      .left {
        background-size: contain;
        background: url("../../assets/images/header mob-sidebar.png") no-repeat center;
        @media(max-width: 600px) {
          background-size: cover;
        }
      }

      .right {
        background-size: contain !important;
        background: #F4F7FD;
        @media(max-width: 600px) {
          display: none;
        }
      }
    }

    &__left-part {
      width: 100%;
      height: max-content;
      display: flex;
      align-items: center;
      flex-direction: column;
      padding: 0 52px 0 102px;
      @media(max-width: 600px) {
        padding: 0 12px;
        height: 238px;
      }

      .staking-button {
        @media(max-width: 600px) {
          padding-top: 20px;
        }
      }
    }

    &__right-part {

      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      position: relative;
      z-index: 1;
      @media (max-width: 600px) {
        margin-top: 132px;
      }

      &__heading-button {
        display: flex;
        height: 106px;
        align-items: center;
        justify-content: center;
        margin-left: 120px;
      }
    }

  }

  .tokenomics {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 790px;
    background: url("../../assets/images/background-defi-top.png");
    @media (max-width: 800px) {
      height: 100%;
      background-size: cover;
      padding: 65px 15px;
    }
    @media (max-width: 450px) {
      background: url("../../assets/images/background-defi-top-mob.png") no-repeat top;
    }

    &__heading {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      &__title {
        font-family: Rubik, serif;
        font-style: normal;
        font-weight: bold;
        font-size: 48px;
        line-height: 57px;
        color: #005BBC;
        padding-bottom: 20px;
        @media (max-width: 800px) {
          font-size: 36px;
          line-height: 43px;
        }

      }


      &__description {
        font-family: Rubik, serif;
        font-style: normal;
        font-weight: normal;
        font-size: 30px;
        line-height: 36px;
        color: #000000;
        padding-bottom: 40px;
        @media (max-width: 800px) {
          font-size: 18px;
          line-height: 21px;
          padding-bottom: 15%;
        }

        span {
          font-family: Rubik, serif;
          font-style: normal;
          font-weight: 500;
          font-size: 30px;
          line-height: 36px;
          color: #0024E5;
          @media (max-width: 800px) {
            font-size: 18px;
            line-height: 21px;
          }
        }
      }
    }

    .container {
      gap: 60px;
      @media (max-width: 800px) {
        flex-direction: column;
        gap: 28px;
      }

      .token-list {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        @media (max-width: 800px) {
          gap: 25px;
        }

        .token-list-item-right {
          display: flex;
          align-items: flex-start;
          justify-content: flex-end;
          width: 100%;
          gap: 19px;
          flex-direction: row;

          .token-list-item-info {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: flex-end;

            .token-list-item-info-title {
              white-space: inherit;
              text-align: right;
              max-width: 300px;
              height: auto;
            }

            .token-list-item-info-price {
              padding-top: 9px;
              font-family: Rubik, sans-serif;
              font-style: normal;
              font-weight: bold;
              font-size: 20px;
              line-height: 24px;
              color: #005BBC;
            }
          }

          .token-list-item-icon {
            width: 34px;
            height: 32px;
            background-color: #F4F7FD;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 3px;
            box-shadow: 0 0px 0px 7px #f4f7fd, -7px 7px 55px #858383, 5px 13px 7px #ffffff, inset 0px 4px 5px rgb(0 0 0 / 25%);
          }
        }

        .token-list-item-left {
          display: flex;
          align-items: flex-start;
          justify-content: flex-end;
          width: 100%;
          gap: 19px;
          flex-direction: row-reverse;
          @media (max-width: 800px) {
            align-items: center;
          }

          .token-list-item-info {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;


            .token-list-item-info-title {
              white-space: inherit;
              text-align: left;
              max-width: 300px;
              height: auto;
              @media (max-width: 800px) {
                font-size: 16px;
                line-height: 19px;
              }
            }

            .token-list-item-info-price {
              padding-top: 9px;
              font-family: Rubik, sans-serif;
              font-style: normal;
              font-weight: bold;
              font-size: 20px;
              line-height: 24px;
              color: #005BBC;
              @media (max-width: 800px) {
                font-size: 16px;
                line-height: 19px;
              }
            }
          }

          .token-list-item-icon {
            width: 34px;
            height: 32px;
            background-color: #F4F7FD;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 3px;
            box-shadow: 0 0px 0px 7px #f4f7fd, -7px 7px 55px #858383, 5px 13px 7px #ffffff, inset 0px 4px 5px rgb(0 0 0 / 25%);
          }
        }

      }

      .center-image {
        width: 100%;
        height: 0;
        background: url("../../assets/images/Tokenomics.png") no-repeat center;
        background-size: contain;
        padding-top: 34%;
        @media (max-width: 800px) {
          padding-top: 50%;
        }
        @media (max-width: 400px) {
          padding-top: 100%;
        }
      }
    }

  }

  .quai-key-metrics {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 81.89944134078212vh;
    background: url("../../assets/images/QUAI KEY METRICS-bg.png") bottom no-repeat;
    @media (max-width: 1202px) {
      height: auto;
      padding: 50px 0 140px 0;
    }
    @media (max-width: 400px) {
      height: auto;
      background: url("../../assets/images/QUAI KEY METRICS-bg mob.png") bottom no-repeat;

    }

    &__heading {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      &__title {
        font-family: Rubik, serif;
        font-style: normal;
        font-weight: bold;
        font-size: 48px;
        line-height: 57px;
        color: #005BBC;
        padding-bottom: 60px;
        @media (max-width: 1202px) {
          font-size: 36px;
          line-height: 43px;
        }

      }
    }

    .container {
      @media (max-width: 1202px) {
        flex-direction: column;
        justify-content: center;
      }

      .metrics-list {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        gap: 45px;
        @media (max-width: 1202px) {
          flex-direction: column;
          justify-content: center;
          gap: 102px;
        }

        &__item-outline {
          width: 370px;
          height: 329px;
          border: 1px dashed #3A6BFF;
          box-sizing: border-box;
          border-radius: 6px;
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          z-index: 2;

          .back-square {
            position: absolute;
            width: 296px;
            height: 70px;
            bottom: -45px;
            left: 35px;
            z-index: 0;
            background: #C4D2FF;
            border-radius: 6px;
          }

          &--metric {
            padding: 20px;

            position: absolute;
            z-index: 1;
            top: 9px;
            bottom: 0;
            left: 10px;
            right: 0;
            width: 352px;
            height: 343px;
            background: #F4F7FD;
            box-shadow: -4px 8px 11px rgba(0, 0, 0, 0.43), inset 0px 5px 5px #FFFFFF;
            border-radius: 6px;
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-direction: column;

            .metric-logo {

            }

            .metric-info {
              display: flex;
              align-items: center;
              justify-content: space-between;
              flex-direction: column;
              height: 104px;

              .metric-title {
                font-family: Rubik, serif;
                font-style: normal;
                font-weight: 500;
                font-size: 24px;
                line-height: 28px;
                color: #000000;
              }

              .metric-counts {
                font-family: Rubik, serif;
                font-style: normal;
                font-weight: bold;
                font-size: 48px;
                line-height: 57px;
                color: #0075FF;

                span {
                  font-family: Rubik, sans-serif;
                  font-style: normal;
                  font-weight: 500;
                  font-size: 24px;
                  line-height: 28px;
                  color: #000000;
                }
              }
            }
          }


        }
      }
    }

  }

  .projects {
    padding: 80px 0 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: max-content;
    background-color: #F4F7FD;

    &__heading {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      &__title {
        font-family: Rubik, serif;
        font-style: normal;
        font-weight: bold;
        font-size: 48px;
        line-height: 57px;
        color: #005BBC;
        padding-bottom: 20px;
        @media (max-width: 1210px) {
          font-size: 36px;
          line-height: 43px;
        }
      }
    }
  }

  .projects-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    @media (max-width: 1210px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    @media (max-width: 600px) {
      display: flex;
    }

    .project {
      padding: 50px 0;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      min-height: 100%;
      background-color: #F4F7FD;

      .container {
        gap: 60px;
        @media (max-width: 1210px) {
          padding: 0 15px !important;
        }

        .projects-list {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;

          .projects-list--item {
            width: 100%;
          display: flex;
          flex-direction: row;
          gap: 60px;
            @media (max-width: 1210px) {
              flex-direction: column;
              gap: 24px;
            }

          .project-item-info {
            width: 40%;
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            @media (max-width: 1210px) {
              order: 1 !important;
              width: 100%;
            }

            .project-item-title {
              font-family: Rubik, sans-serif;
              font-style: normal;
              font-weight: 500;
              font-size: 24px;
              line-height: 28px;
              color: #000000;
              padding-bottom: 25px;
            }

            .project-item-describe {
              p {
                font-family: Open Sans, serif;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 25px;
                color: #000000;
              }

              padding-bottom: 15px;
            }

            position: relative;
            z-index: 21;

            .project-item-btn {
              font-family: Rubik, serif;
              font-style: normal;
              font-weight: bold;
              font-size: 24px;
              line-height: 28px;
              color: #005BBC;
              z-index: 22212121;
              width: 162px;
              height: 52px;
              border: 1px solid #005BBC;
              box-sizing: border-box;
              border-radius: 6px;
              margin-top: 25px;
              cursor: pointer;
              display: flex;
              align-items: center;
              justify-content: center;
              background: transparent;
              transition: all .35s;
              position: relative;

              &:after {
                position: absolute;
                content: "";
                top: 0;
                left: 0;
                border-radius: 4px;
                z-index: 212;
                width: 0;
                height: 100%;
                background: #0022A7;
                border: 0 !important;
                transition: all .35s;
              }

              &:hover {
                color: #fff !important;
                border: 0 !important;
                z-index: 2;
              }

              &:hover::after {
                width: 100%;
                z-index: 2;
                border: 0 !important;
              }

              p {
                position: relative;
                z-index: 333;
                font-style: normal;
                font-weight: bold;
                font-family: Rubik, sans-serif;
                font-size: 24px;
                line-height: 28px;
              }
            }
          }

          .project-item-photo-outline {
            width: 60%;
            height: 360px;
            box-sizing: border-box;
            position: relative;
            left: 10px;

            @media (max-width: 1210px) {
              width: 98%;
              height: 182px;
            }
            img {
              width: 100%;
              height: 100% !important;
              max-width: 700px;
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              @media (max-width: 1210px) {
                width: 100%;
                top: 10px;
              }
            }
          }
          .project-item-photo-outline {
            height: 450px;
            @media (max-width: 1210px) {
              height: 214px;
            }
          }
          }

        }
      }

    }

  }

}
