.home {
  margin: 0 auto;
  position: relative;
  z-index: 1;
  overflow: hidden;
  min-height: 100vh;


  .top-section {
    display: flex;
    flex-direction: row;
    min-height: 100vh;

    @media(max-width: 600px) {
      height: auto;
    }

    .render-responsive-blocks {
      background: url("../../assets/images/bg main.png") #F4F7FD no-repeat;
      background-size: cover;
      @media(max-width: 600px) {
        background: url("../../assets/images/bg main mobile.png") #F4F7FD no-repeat;
        background-size: cover;
        background-position: center;
      }

      .right {
        background-size: contain !important;
        background: url("../../assets/images/Subtract.png") no-repeat;
        background-repeat-y: initial;
        @media(max-width: 600px) {
          background-repeat-y: none !important;
          background: url("../../assets/images/bg right main.png") transparent no-repeat;
          background-position: bottom center !important;
          background-size: contain !important;
        }
      }
    }

    &__left-part {
      background-color: transparent;
      width: 100%;
      height: max-content;
      display: flex;
      align-items: center;
      flex-direction: column;
      padding: 0 52px 0 102px;
      @media(max-width: 600px) {
        padding: 12px;
        height: 459px;
      }

      .info-section {
        margin-top: 119px;
        width: 100%;
        height: 696px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        @media(max-width: 600px) {
          margin-top: 77px;
          display: flex;
          height: 696px;
          align-items: center;
        }

        .we-are {
          display: flex;
          flex-direction: column;

          .primary {
            font-family: Rubik, sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 73px;
            line-height: 87px;
            color: #F4F7FD;
            @media(max-width: 600px) {
              font-size: 73px;
              line-height: 87px;
            }
            color: #F4F7FD;

          }

          .secondary {
            padding-top: 1.4375rem;
            font-family: Rubik, "Open Sans", sans-serif;
            font-style: normal;
            font-weight: 300;
            font-size: 38px;
            line-height: 45px;
            @media(max-width: 600px) {
              font-size: 35px;
              line-height: 45px;
            }
            color: #F4F7FD;

            .ACCELERATOR {
              font-style: normal;
              font-weight: bold;
              font-size: 38px;
              line-height: 45px;
              color: #F4F7FD;

            }
          }
        }

        .we-are-description {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          padding-bottom: 110px;

          > div {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            height: 6.75rem;

            .number {
              font-size: 3rem;
            }

            .primary {
              font-family: Rubik, "Open Sans", sans-serif;
              font-style: normal;
              font-weight: 500;
              font-size: 24px;
              line-height: 28px;
              color: #FFFFFF;
            }

            .secondary {
              font-family: Rubik, "Open Sans", sans-serif;
              font-style: normal;
              font-weight: 500;
              font-size: 24px;
              line-height: 28px;
              color: #FFFFFF;
            }
          }
        }
      }
    }

    &__right-part {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      position: relative;
      z-index: 1;

      .top-eclipse {
        position: absolute;
        left: -195px;
        top: 121px;
        @media (max-width: 800px) {
          transform: scale(0.8);
          width: 100%;
          left: 0;
          right: 0;
          bottom: 0;
          top: -45px;
          display: flex;
          align-items: center;
          justify-content: center;
          img {
            margin: 0 auto;
          }
        }

        .one {
          //background-color: #373a47;
          background-color: transparent;
          top: 3%;
          border-radius: 50%;
          right: 200px;
          position: absolute;
          width: 110px;
          height: 110px;
          @media (max-width: 800px) {
            bottom: 0;
            right: 300px;
            top: 316px;
          }
        }

        .two {
          //background-color: #00ffcb;
          background-color: transparent;
          top: 23%;
          border-radius: 50%;
          right: 20px;
          position: absolute;
          width: 110px;
          height: 110px;
          @media (max-width: 800px) {
            bottom: 0;
            right: 200px;
            top: 406px;
          }
        }

        .three {
          //background-color: #4A38AE;
          background-color: transparent;
          top: 57%;
          border-radius: 50%;
          right: 20px;
          position: absolute;
          width: 110px;
          height: 110px;
          @media (max-width: 800px) {
            bottom: 0;
            right: 63px;
            top: 405px;
          }
        }

        .four {
          //background-color: #1acd8c;
          background-color: transparent;
          top: 82%;
          border-radius: 50%;
          right: 200px;
          position: absolute;
          width: 110px;
          height: 110px;
          @media (max-width: 800px) {
            top: 317px;
            bottom: 0;
            right: -37px;

          }
        }
      }

      @media (max-width: 600px) {
        height: 100% !important;
      }

      &__heading-button {
        display: flex;
        height: 106px;
        align-items: center;
        justify-content: center;
        margin-left: 120px;
      }
    }

  }

  .second-section {
    display: flex;
    flex-direction: row;
    position: relative;

    .right {
      @media (max-width: 800px) {
        height: 400px !important;

      }
    }

    &__left-part {
      width: 100%;
      background: #FFFFFF;
      height: max-content;
      display: flex;
      align-items: center;
      flex-direction: column;
      padding: 0 102px 0;
      @media (max-width: 600px) {
        padding: 0 12px 0;
      }

      .container {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding-top: 140px;
        @media (max-width: 600px) {
          padding-top: 40px;
        }

        .title {
          height: auto;
          width: 80%;
          padding-bottom: 40px;
          @media (max-width: 600px) {
            width: 100%;
            padding-bottom: 0px;
          }
        }

        .text-block {
          display: flex;
          flex-direction: column;
          padding-bottom: 110px;
          padding-left: 60px;
          width: 70%;
          margin-top: 50px;
          @media (max-width: 600px) {
            padding-left: 0;
            width: 100%;
          }

          .paragraphs {
            padding: 30px 0;

            p {
              font-family: "Open Sans", Rubik, sans-serif;
              font-style: normal;
              font-weight: 600;
              font-size: 20px;
              line-height: 27px;

              color: #000000;
            }
          }

          .staking-button {
            @media (max-width: 600px) {
              display: flex;
              align-items: center;
              justify-content: center;
              margin-bottom: 51px;
            }
          }

        }


      }
    }

    &__right-part {
      background: url("../../assets/images/main-right.png") #F4F7FD no-repeat;
      width: 100%;
      height: 100%;
      background-size: cover;
      display: flex;
      align-items: center;
      flex-direction: column;
      position: relative;
      z-index: 0;
      @media (max-width: 800px) {
        height: inherit;
      }

      .chip {
        z-index: 2;
        position: absolute;
        left: -183px;
        top: 562px;
        bottom: 0;
        transform: scale(3.5);
        @media (max-width: 800px) {
          cursor: pointer;
          width: 528px;
          margin: 0 auto !important;
          top: -52px;
          z-index: 0;
          left: 0;
          transform: translate(-14%, -50%) !important;
          right: 0;
        }
      }

      &__heading-button {
        position: relative;
        z-index: 2;
        display: flex;
        height: 106px;
        align-items: center;
        justify-content: center;
      }
    }

  }

  .explore-defi-nft {
    width: 100%;
    background: url("../../assets/images/dots-background.png") #F4F7FD no-repeat;
    display: flex;
    padding: 120px 0;
    background-position-y: 200px;
    min-height: 100vh;

    @media (max-width: 800px) {
      height: auto !important;
      padding: 20px 0;
      background-position-y: bottom;

    }

    .container {
      margin: 0 auto;
      display: flex;
      align-items: center;
      width: 100%;
      max-width: 1200px;
      flex-direction: column;
      padding: 15px;

      .explore-defi-nft__title {
        font-family: Rubik, "Open Sans", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 3.5rem;
        line-height: 4.125rem;
        color: #005BBC;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding-bottom: 75px;
        @media (max-width: 800px) {
          font-size: 36px;
          line-height: 43px;;
        }
      }

      &__items {
        padding: 15px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        gap: 42px;
        @media (max-width: 800px) {
          flex-direction: column;
          gap: 50px;
          > div {
            max-width: 372px;
          }
        }

        .down-elem {
          position: absolute;
          z-index: 1;
          bottom: -20px;
          content: '';
          width: 296px;
          left: 36px;
          height: 20px;
          background: #C4D2FF;
          border-bottom-left-radius: 6px;
          border-bottom-right-radius: 6px;
        }

        .defi-group {
          @media (max-width: 800px) {
            max-width: 352px;
          }
          width: 372px;
          height: 438px;
          background: #F4F7FD;
          box-shadow: -4px 8px 11px rgba(0, 0, 0, 0.43), inset 0 5px 5px #FFFFFF;
          border-radius: 6px;
          display: flex;
          flex-direction: column;
          position: relative;
          z-index: 2;


          &__header {
            height: 60px;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding: 15px;

            &::after {
              content: '';
              position: absolute;
              bottom: 0;
              left: 0;
              width: 99.5%;
              height: 0;
              border: 1px solid rgba(0, 34, 167, 0.26);
            }
          }

          &__body {
            height: 90%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            padding: 17px;
            z-index: 3;
            position: relative;

            .icon {
              padding-bottom: 20px;
            }

            .text {
              text-align: center;
              font-family: Rubik, "Open Sans", sans-serif;
              font-style: normal;
              font-weight: 500;
              font-size: 1.375rem;
              line-height: 1.625rem;
              color: #000000;
            }

            .defi-group-button {
              margin-top: 25px;
              cursor: pointer;
              width: 100%;
              height: 52px;
              border: 1px solid #005BBC;
              box-sizing: border-box;
              border-radius: 6px;
              display: flex;
              align-items: center;
              justify-content: center;
              background: #F4F7FD;
              transition: all .35s;
              position: relative;
              color: #005BBC;

              &:after {
                position: absolute;
                content: "";
                top: 0;
                left: 0;
                border-radius: 4px;
                width: 0;
                height: 100%;
                background: #0022A7;
                transition: all .35s;
              }

              &:hover {
                color: #fff;
              }

              &:hover::after {
                width: 100%;
              }

              p {
                position: relative;
                z-index: 2;
                font-family: Rubik, "Open Sans", sans-serif;
                font-style: normal;
                font-weight: bold;
                font-size: 1.5rem;
                line-height: 1.75rem;
              }
            }
          }

        }
      }
    }
  }

  .gateway-DeFi {
    width: 100%;
    background: url("../../assets/images/gateway-DeFi-background.png") #F4F7FD no-repeat;
    display: flex;
    height: 546px;
    background-size: cover;
    z-index: 0;
    padding: 15px;
    position: relative;

    .bitcoin-chain {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;

      div {
        div {
          svg {
            width: 100%;
            height: 100%;
          }
        }
      }
    }

    @media (max-width: 600px) {
      background: url("../../assets/images/bg-gateway-DeFi.png");
      height: 802px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      .bitcoin-chain {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        left: 0;
        right: 0;
        top: 100px;
        bottom: 0;
        padding-bottom: 21px;
        margin: 14px;
      }
    }

    .container {
      margin: 0 auto;
      display: flex;
      align-items: center;
      width: 60%;
      max-width: 1200px;
      flex-direction: column;
      justify-content: center;
      position: relative;
      @media (max-width: 1200px) {
        width: 100%;
      }

      .gateway-DeFi__title {
        font-family: Rubik, "Open Sans", sans-serif;
        font-style: normal;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        text-align: center;
        font-size: 80px;
        line-height: 95px;
        padding-bottom: 80px;
        color: #FFFFFF;
        @media (max-width: 600px) {
          padding-bottom: 55px;
          margin-top: 0;
          position: absolute;
          left: 0;
          right: 0;
          top: -600px;
          bottom: 0;
          font-size: 36px;
          line-height: 43px;
        }
      }

      .gateway-DeFi__info {
        max-width: 799px;
        background: rgba(3, 0, 38, 0.45);
        border: 1px solid #0075FF;
        padding: 30px 23px;
        box-sizing: border-box;
        border-radius: 11px;
        margin-top: -47px;
        @media (max-width: 600px) {
          margin-top: 0;
          margin-bottom: 100px;
          padding: 25px 5px;
          transform: scale(0.8);
          width: 120%;
        }

        &--primary {
          font-family: Rubik, "Open Sans", sans-serif;
          font-style: normal;
          font-weight: bold;
          font-size: 2.125rem;
          line-height: 2.5rem;
          text-align: center;
          color: #FFFFFF;
          @media (max-width: 600px) {
            font-size: 24px;
            line-height: 28px;
          }
        }

        &--secondary {

          font-family: Open Sans, sans-serif;
          font-style: normal;
          font-weight: 600;
          font-size: 1.25rem;
          line-height: 1.6875rem;
          text-align: center;
          color: #FFFFFF;
          @media (max-width: 600px) {
            font-size: 16px;
            line-height: 22px;
          }
        }
      }

      .staking-button {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 50px;
        @media (max-width: 600px) {
          margin-top: -120px;
          padding: 98px 0 0 0;
          transform: scale(0.8);
          display: flex;
          align-items: center;
          justify-content: center;
        }

        div {
          button {
            width: 294px;
          }
        }
      }
    }
  }

  .projects-section {
    width: 100%;
    background: #F4F7FD;
    display: flex;
    padding-top: 120px;
    padding-bottom: 100px;
    min-height: 100vh;

    @media (max-width: 600px) {
      height: auto;
      padding-top: 60px;
      padding-bottom: 60px;
    }

    .container {
      margin: 0 auto;
      display: flex;
      align-items: center;
      width: 100%;
      max-width: 1200px;
      flex-direction: column;
      padding: 20px;

      .projects-section__title {
        font-family: Rubik, "Open Sans", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 48px;
        line-height: 57px;
        color: #005BBC;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        text-align: left;
        width: 100%;
        padding-bottom: 75px;
        @media (max-width: 600px) {
          justify-content: center;
          text-align: center;
        }
      }

      &__items {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        gap: 60px;
        @media (max-width: 1144px) {
          flex-direction: column;
        }

        &--item-wrapper {
          position: relative;
          width: 338px;
          height: 450px;
          border: 1px solid #005BBC;
          box-sizing: border-box;
          border-radius: 18px;

          .projects-group {
            width: 319px;
            height: 450px;
            background: #F4F7FD;
            box-shadow: -4px 8px 11px rgba(0, 0, 0, 0.43), inset 0 5px 5px #FFFFFF;
            border-radius: 18px;
            z-index: 2;
            gap: 30px;
            position: absolute;
            left: 20px !important;
            top: 20px;
            bottom: 0;

            &__body {
              height: 90%;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: space-evenly;
              padding: 20px;
              text-align: center;
              gap: 10px;

              .icon {
                padding-top: 28px;
                margin-top: 20px;

              }

              .text {
                text-align: center;
                font-family: Rubik, "Open Sans", sans-serif;
                font-style: normal;
                font-weight: 500;
                font-size: 1.375rem;
                line-height: 1.625rem;
                color: #000000;

              }

              .secondary {
                font-family: Open Sans, sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 25px;
                text-align: center;
                color: #000000;
              }

              .projects-group-button {
                width: 100%;
                margin-top: 20px;
                min-height: 52px !important;
                border: 1px solid #005BBC;
                box-sizing: border-box;
                border-radius: 6px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                background: #F4F7FD;
                transition: all .35s;
                position: relative;
                color: #005BBC;

                &:after {
                  position: absolute;
                  content: "";
                  top: 0;
                  left: 0;
                  border-radius: 4px;
                  width: 0;
                  height: 100%;
                  background: #0022A7;
                  transition: all .35s;
                }

                &:hover {
                  color: #fff;
                }

                &:hover::after {
                  width: 100%;
                }

                p {
                  position: relative;
                  z-index: 2;
                  font-family: Rubik, "Open Sans", sans-serif;
                  font-style: normal;
                  font-weight: bold;
                  font-size: 1.5rem;
                  line-height: 1.75rem;
                }

              }
            }
          }
        }
      }
    }
  }

  .quai-farm {
    min-height: 500px;
    padding: 15px;
    background: url("../../assets/images/eath-back-desk.png") #fff no-repeat;
    @media (max-width: 600px) {
      background: url("../../assets/images/earth-back.png") #F4F7FD;
      padding: 0px;
    }
    background-size: cover;
    background-position: center;

    .container {
      margin: 0 auto;
      display: flex;
      align-items: center;
      width: 100%;
      max-width: 1200px;
      flex-direction: column;

      .quai-farm__primary {
        font-family: Rubik, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 48px;

        line-height: 57px;
        color: #005BBC;
        text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        padding-bottom: 43px;
        padding-top: 80px;
        @media (max-width: 600px) {
          background: url("../../assets/images/earth-back.png") #F4F7FD;
          padding-top: 60px;
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
        }
      }

      .quai-farm__secondary {
        font-family: Rubik, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 36px;
        line-height: 43px;
        color: #000000;
        padding-bottom: 59px;
        @media (max-width: 600px) {
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

      .quai-farm-grid {
        display: grid;
        align-items: center;
        justify-content: space-between;
        width: inherit;
        grid-template-columns: repeat(10, minmax(90px, 1fr));
        grid-gap: 1rem;
        overflow: hidden;
        @media (max-width: 480px) {
          grid-gap: 0;
          grid-template-columns: repeat(4, minmax(90px, 1fr));
          padding-bottom: 60px;
          .iconicon8Icon {
            grid-column: 2 / span 1;
          }
          .iconicon9Icon {
            grid-column: 3 / span 1;
          }
        }



        > div {
          span {
            span {
              svg {
                max-width: 90px;
              }
            }
          }
        }
      }
    }
  }

  .road-map {
    width: 100%;
    height: 552px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: url("../../assets/images/road-map-back.png") #F4F7FD no-repeat;
    background-size: cover;
    background-position: center;
    @media (max-width: 600px) {
      padding-top: 45px;
      height: auto;
    }

    &__title {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      font-family: Rubik, sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 48px;
      line-height: 57px;
      margin-top: 40px;
      color: #FFFFFF;
      padding-bottom: 16px;
      @media (max-width: 600px) {
        margin-top: 0;
        flex-direction: column;
      }
    }

    .container {
      max-width: 1200px;
      margin: 0 auto;


      .container__list {
        display: flex;
        flex-direction: row;
        padding: 15px;
        @media (max-width: 600px) {
          flex-direction: column;
        }

        .container__list--item {
          position: relative;
          z-index: 10;
          width: 25%;
          height: 350px;

          &:after {
            content: '';
            position: absolute;
            width: 70%;
            height: 0;
            left: 84px;
            z-index: -21;
            top: 38px;
            border: 4px solid #0075FF;
          }


          @media (max-width: 600px) {
            width: 100%;
            display: flex;
            flex-direction: row;
            &:after {
              content: '';
              position: absolute;
              width: 0;
              height: 74%;
              z-index: -21;
              left: 40px;
              top: 86px;
              border: 4px solid #0075FF;

              &:last-child {
                border: 4px solid white;
              }
            }
          }

          .li-title {
            z-index: 1000;
            min-width: 88px !important;
            max-width: 88px !important;
            min-height: 88px !important;
            max-height: 88px !important;
            border: 4px solid #0075FF;
            border-radius: 50%;
            box-sizing: border-box;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;

            p {
              font-size: 31px;
              color: #22DAF9;
              font-weight: bold;
            }
          }

          @media (max-width: 600px) {
            .li-body {
              margin-top: -24px;
            }
          }

          .li {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            height: auto;
            flex-direction: row;
            font-family: Open Sans, sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 25px;
            color: #FFFFFF;
            margin-top: 26px;
            padding-right: 25px;
            margin-left: 22px;
            position: relative;
            @media (max-width: 600px) {
              margin-left: 40px;
            }

            &__icon {
              position: absolute;
              top: -33px;
              left: -67px;

              span {
                width: 65px;
              }
            }
          }
        }

        .container__list--item:last-of-type {
          &:after {
            content: '';
            position: absolute;
            width: 200%;
            height: 0;
            left: 84px;
            z-index: -21;
            top: 38px;
            border: 4px solid #fff;
          }


          @media (max-width: 600px) {
            width: 100%;
            display: flex;
            flex-direction: row;
            &:after {
              content: '';
              position: absolute;
              width: 0;
              height: 120%;
              z-index: -21;
              left: 40px;
              top: 86px;
              border: 4px solid #fff;

              &:last-child {
                border: 4px solid white;
              }
            }
          }

          .li-title {
            z-index: 10;
            min-width: 88px !important;
            max-width: 88px !important;
            min-height: 88px !important;
            max-height: 88px !important;
            border: 4px solid #0075FF;
            border-radius: 50%;
            box-sizing: border-box;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;

            p {
              font-size: 31px;
              color: #22DAF9;
              font-weight: bold;
            }
          }

          @keyframes neon {
            from {
              text-shadow: 0 0 6px rgba(202, 228, 225, 0.92);
            }
            to {
              text-shadow: 0 0 6px rgba(202, 228, 225, 0.98);
            }
          }

          .li {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            height: auto;
            flex-direction: row;
            font-family: Open Sans, sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 25px;
            color: #FFFFFF;
            margin-top: 26px;
            padding-right: 25px;
            margin-left: 40px;
            position: relative;

            &__icon {
              position: absolute;
              top: -33px;
              left: -60px;

              span {
                width: 65px;
              }
            }
          }
        }
      }

    }
  }

  .team-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 110vh;
    @media (max-width: 600px) {
      height: auto;
    }

    &__title {
      font-family: Rubik, sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 3rem;
      line-height: 3.5625rem;
      color: #005BBC;
      padding-top: 128px;
      padding-bottom: 70px;
      @media (max-width: 600px) {
        padding-top: 60px;
        padding-bottom: 51px;
      }
    }

    .container {
      width: 100%;
      max-width: 1200px;

      .options {
        padding-top: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        gap: 126px;
        @media (max-width: 600px) {
          padding-top: 52px;
          padding-bottom: 81px;
        }
        button {
          display: flex;
          background-color: transparent;
          border: none;
        }

        button:disabled {
          background: none !important;
        }
      }

      .container__list {
        max-width: 100%;
        display: grid;
        align-items: center;
        justify-content: space-evenly;
        padding-bottom: 125px;
        grid-template-columns: 210px 210px 210px 210px;
        @media (max-width: 600px) {
          display: flex;
          flex-wrap: wrap;
        }

        &--item {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          flex-direction: column;
          height: 362px;
          text-align: center;
          width: 210px;
          gap: 10px;
          @media (max-width: 600px) {
            height: 413px;
          }

          .photo {
            width: 100%;
            height: 264px;
            background: #FFFFFF;
            border: 4px solid #005BBC;
            box-sizing: border-box;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            cursor: pointer;
            position: relative;

            .ln-icon {
              position: absolute;
              top: 10px;
              right: 10px;
            }

            img {
              transition: 1s;
              filter: grayscale(100%);
            }

            &:hover {
              img {
                filter: grayscale(0);
              }
            }
          }

          .fullName {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            width: 100%;
            font-family: Rubik, sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 1.125rem;
            line-height: 1.3125rem;
            color: #0B0B0B;
          }

          .description {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            width: 277px;
            @media (max-width: 600px) {
              width: 235px;
            }
            font-family: Open Sans, sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 0.9375rem;
            line-height: 1.3125rem;
            color: #0B0B0B;
          }
        }
      }
    }
  }

  .partners-section {
    padding-bottom: 140px;
    background: #F4F7FD;
    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &__title {
      padding-top: 55px;
      font-family: Rubik, sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 3rem;
      line-height: 3.5625rem;
      color: #005BBC;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-bottom: 40px;
    }

    .container {
      width: 100%;
      max-width: 1200px;
      height: auto;
      margin: 0 auto;
      padding: 20px;

      .container__list {
        max-width: 100%;
        display: grid;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 125px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        @media (max-width: 600px) {
          display: flex;
          gap: 17px;
          flex-wrap: wrap;
          align-items: center;
          justify-content: flex-start;
        }

        &--item {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          width: 257px;
          height: 155px;
          @media (max-width: 600px) {
            width: 152px;
            height: 120px;
            transform: scale(0.9);
          }
          border: 1px solid #005BBC;
          box-sizing: border-box;
          border-radius: 18px;
          position: relative;
          margin-bottom: 20px;
          margin-top: 20px;

          &__hover {
            width: 257px;
            height: 147px;
            @media (max-width: 600px) {
              width: 151px;
              height: 120px;
            }
            background: #F4F7FD;
            box-shadow: -4px 8px 11px rgba(0, 0, 0, 0.43), inset 0 5px 5px #FFFFFF;
            border-radius: 18px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px;
            position: absolute;
            left: 10px;
            right: 0;
            top: 10px;
            bottom: 0;

            .photo {
              display: flex;
              align-items: center;
              justify-content: center;
              text-align: center;
              padding: 20px;
              background-size: cover;
              @media (max-width: 600px) {
                width: 200px;
                height: 120px;
                transform: scale(0.9);
              }
            }
          }

        }
      }

      .options {
        padding-top: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        gap: 80px;

        button {
          display: flex;
          background-color: transparent;
          border: none;
        }

        button:disabled {
          background: none !important;
        }
      }
    }
  }

  .last-section {
    margin-top: -81px;
    height: 263px;
    background: url("../../assets/images/last-section-bg.png") #F4F7FD no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    @media (max-width: 600px) {
      padding: 15px;
      height: auto;
    }

    &__title {
      width: 100%;
      font-family: Roboto, sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 36px;
      line-height: 42px;
      color: #FFFFFF;
      display: flex;
      align-items: center;
      justify-content: center;
      @media (max-width: 600px) {
        font-size: 24px;
        line-height: 28px;
        text-align: center;
        padding: 10px 10px 0 10px;
      }

    }

    .container {
      max-width: 1200px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .submit-form {
        display: flex;
        align-items: center;
        width: 100%;
        gap: 30px;
        @media (max-width: 600px) {
          flex-direction: column;
          padding-bottom: 25px;
        }

        .input {
          background: #F2F2F3;
          border: 1px solid #FFFFFF;
          box-sizing: border-box;
          border-radius: 8px;
          min-width: 431px;
          @media (max-width: 600px) {
            min-width: 300px;
          }
          height: 58px;

          font-family: Roboto, sans-serif;
          font-style: normal;
          font-weight: 300;
          font-size: 24px;
          line-height: 28px;
          padding: 10px;
          color: #000000;

          &::placeholder {
            color: #000000;
          }
        }

        .button {
          background: #F4F7FD;
          border-radius: 6px;
          font-family: Rubik, sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 24px;
          line-height: 28px;
          color: #0022A7;
          height: 58px;
          padding: 0 50px;

        }
      }
    }
  }
}

//.container {
//  display: flex;
//  margin: 0 auto;
//  flex-direction: column;
//
//  .items-container {
//    flex-grow: 1;
//    display: flex;
//    flex-wrap: wrap;
//    justify-content: space-between;
//    overflow: auto;
//
//    .items-container__item {
//      margin: 20px 0;
//      max-width: 240px;
//      background-position: center;
//      flex: 0 0 1;
//      font-family: Proxima Nova, sans-serif;
//      font-style: normal;
//      font-weight: 300;
//      font-size: 24px;
//      line-height: 140%;
//      flex: none;
//      order: 1;
//      flex-grow: 0;
//      color: #FFFFFF;
//      @media (max-width: 480px) {
//        flex: 0 0 50%;
//        font-size: 18px;
//      }
//    }
//  }
//
//
//}
.neon-anim {
  ellipse {
    animation: neon 1s ease-in-out infinite alternate;
  }

  circle {
    animation: neon 1s ease-in-out infinite alternate;
  }
}

#animated-path {
  animation: draw 0.2ms ease-in-out infinite alternate;
}

@keyframes draw {
  from {
    transform: translateY(0);

  }
  to {
    transform: translateY(1px);
  }
}

@keyframes neon-path {
  from {
    fill-opacity: 0.3;
  }
  to {
    fill-opacity: 0.9;
  }
}

@keyframes neon {
  from {
    fill-opacity: 0.4;
  }
  to {
    fill-opacity: 0.8;
  }
}

.staking-button {
  display: flex;
  height: 106px;
  align-items: center;
}

@keyframes neon {
  from {
    text-shadow: 0 0 6px rgb(34, 218, 249),
    0 0 7px rgba(34, 218, 249);
  }
  to {
    text-shadow: 0 0 6px rgb(34, 218, 249),
    0 0 7px rgb(34, 218, 249);
  }
}
